body {
  background-image: url(../images/fence.jpg);
  height: 100%;
  font-family: 'Nothing You Could Do', cursive;
}

.font {
    font-family: 'Nothing You Could Do', cursive;
}

.navbar-font {
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

.nav-link-margin {
    margin-right: 15px;
}

.large-font {
    font-size: 55px;
}

.med-font {
    font-size: 24px;
}

.white-font {
    color: white;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.main-margin {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.foot {
    color: white;
    padding-top: 3rem;
    padding-right: 1.5rem;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
}
.footer-font {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;
}


.portfolio-image {
    width: 400px;
    border: 1px solid white;
}

.main-header {
    margin-bottom: 50px !important;
}

.brand-statement {
    text-align: justify;
}

.link-margin {
    margin-top: 20px;
}
.port-list {
    margin-top: 30px;
}

.ul-style {
    list-style-type: circle;
}

.project-margin {
    margin-left: 20px;
}

.column-margin {
    margin-top: 40px;
    border-top: 1px solid white;
}

.form-margin {
    margin-top: 40px;
    border: 1px solid white;
    padding: 100px;
}