body {
  background-image: url(../images/fence.jpg);
  height: 5000px;
  font-family: 'Nothing You Could Do', cursive;
}

.navbar-font {
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
}

.nav-link-margin {
    margin-right: 15px;
}

.large-font {
    font-size: 55px;
}

.med-font {
    font-size: 24px;
}

.white-font {
    color: white;
}

.bold {
    font-weight: bold;
}

.main-margin {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

